<ion-header>
  <ion-navbar>
    <img class="navbarLogo" src="assets/imgs/logo.png" />
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="login-box">

    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <ion-row>
        <ion-col>

          <ion-list class="form-group" [ngClass]="{
            'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.dirty || email.touched),
            'has-danger': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)
            }" inset>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="loginForm.email" class="form-control" pattern="[^ @]*@[^ @]*"
                #email="ngModel" required></ion-input>
            </ion-item>

            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <p *ngIf="email.errors.required">Email is required</p>
              <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
            </div>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginForm.password" #password="ngModel" required>
              </ion-input>
            </ion-item>


            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is required</p>

              </div>


          </ion-list>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="signup-col">
          <button ion-button color="secondary" block class="submit-btn" full type="submit" [disabled]="!form.form.valid">Login</button>
        </ion-col>
      </ion-row>
    </form>
    <pre>{{form.value | json}}</pre>
  </div>

</ion-content>
