
.navbarLogo{
    height: 40px;
    float: left;
    margin-left: 10px;
}



page-login {

.danger-email, .danger-password{
    background-color : #a94442; /* red */
  }

  .success-email, .success-password{
    background-color : #42A948; /* green */
  }
}


