<ion-header>
  <ion-navbar>
    <img class="navbarLogo" src="assets/imgs/logo.png" />
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-card>

<ion-item>
    <ion-avatar>
      <img [src]="profilePicture">
    </ion-avatar>
  </ion-item>

</ion-card>


<ion-content padding>

  <div class="login-box">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <ion-row>
        <ion-col>

          <ion-list>
            <ion-item [ngClass]="{
              'danger-email' : email.invalid && (email.dirty || email.touched),
              'success-email': email.valid && (email.dirty || email.touched)
              }">
              <ion-input  type="text" placeholder="Email" name="email" [(ngModel)]="loginForm.email" class="form-control" pattern="[^ @]*@[^ @]*" (change)="emailChanged()"
                #email="ngModel" required>
              </ion-input>

            </ion-item>

            <div class="error-email" *ngIf="email.errors && (email.dirty || email.touched)">
              <p *ngIf="email.errors.required">Email is required</p>
              <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
            </div>

            <ion-item [ngClass]="{
              'danger-password' : password.errors && (password.dirty || password.touched),
              'success-password': password.valid && (password.dirty || password.touched)
               }">
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginForm.password" #password="ngModel" required></ion-input>
            </ion-item>

            <div class="error-password" *ngIf="password.errors && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">Password is required</p>
            </div>

          </ion-list>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <button ion-button color="secondary" block class="submit-btn" full type="submit" [disabled]="!form.form.valid">Login</button>
        </ion-col>
      </ion-row>
    </form>
    <pre>{{form.value | json}}</pre>
  </div>

</ion-content>
