
<ion-header>
  <ion-navbar>
      <img class="navbarLogo" src="assets/imgs/logo.png"/>
    <ion-title>Sign Up Page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="login-content" padding>
  <div class="login-box">

    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

              <ion-item [ngClass]="{
                'danger-firstname' : firstname.invalid && (firstname.dirty || firstname.touched),
                'success-firstname': firstname.valid && (firstname.dirty || firstname.touched)
                }">
                  <ion-input type="text" placeholder="First Name"  name="firstname" [(ngModel)]="signUpUserForm.firstname" #firstname="ngModel" required></ion-input>
                </ion-item>

                <div [ngClass]="{}" *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                  <p *ngIf="firstname.errors.required"> Firstname is required</p>
                </div>

                <ion-item [ngClass]="{
                  'danger-surname' : surname.invalid && (surname.dirty || surname.touched ),
                  'success-surname': surname.valid && (surname.dirty || surname.touched)
                  }" >
                  <ion-input type="text" placeholder="Surname" name="surname" [(ngModel)]="signUpUserForm.surname" #surname="ngModel" required></ion-input>
                </ion-item>

                <div class="surname-password" *ngIf="surname.errors && (surname.dirty || surname.touched)">
                  <p *ngIf="surname.errors.required"> Surname is required</p>
                </div>

            <ion-item [ngClass]="{
              'danger-email' : email.invalid && (email.dirty || email.touched),
              'success-email': email.valid && (email.dirty || email.touched)
              }">
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="signUpUserForm.email" #email="ngModel" pattern="[^ @]*@[^ @]*" required></ion-input>
            </ion-item>

            <div class="error-email" *ngIf="email.errors && (email.dirty || email.touched)">
              <p *ngIf="email.errors.required">Email is required</p>
              <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
            </div>

            <ion-item [ngClass]="{
              'danger-password' : password.errors && (password.dirty || password.touched),
              'success-password': password.valid && (password.dirty || password.touched)
               }">
              <ion-input type="password" placeholder="Password" name="password"  [(ngModel)]="signUpUserForm.password" #password="ngModel" required></ion-input>
            </ion-item>

            <div class="error-password" *ngIf="password.errors && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">Password is required</p>
            </div>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!signUpForm.form.valid">Sign Up</button>
        </ion-col>
      </ion-row>
    </form>


  </div>
</ion-content>
